.list-group-item{
    background-color: #4285f4;
    padding: 0;
  }
  .nav-link{
    color: white;
    padding: 20px 15px;
    transition: 0.7s;
  }
  .nav-link:hover{
      opacity: 0.5;
      background: white;
      color: black;
      transition: 0.7s;
  }
  body{
    background-image: url(../images/unsafe-areas/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    overflow: scroll;
    position: relative;
    animation: myAnimationq 1.5s ease-out ;
    -moz-animation: myAnimationq 1.5s ease-out ;
    -o-animation: myAnimationq 1.5s ease-out ;
  }
  @keyframes myAnimationq {
    from {left: -100px;}
    to {left: 0px;}
    from {opacity:0.1;}
    to {opacity: 1;}
}
  .card-body{
    margin-top:50px;
    background-color: transparent;
    color:#fff;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
  }
  .col-sm-10{
    padding: 0;
  }
  .list-group{
    margin-top:50px;
    
  }
  .list-group-item{
    background: transparent;
    border: none;
  }

  .list-group-item div{
    margin-left: 5px;
    width: 100%;
    background: black;
    color: white;
    opacity: 0.7;
    font-family: 'Bree Serif', serif;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top:3px;
  }
  th, tr{
    color:#fff;
    background-image: url(../images/unsafe-areas/bg22.png);
    font-family: 'Bree Serif', serif;
  }
  .faaa{
    font-size: 20px
  }