*{
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body {
    font-family: "Poppins";
    position: relative;
    animation: myAnimation 1.5s ease-out ;
    -moz-animation: myAnimation 1.5s ease-out ;
    -o-animation: myAnimation 1.5s ease-out ;
}

@keyframes myAnimation {
   from {opacity:0.1;}
   to {opacity: 1;}
   from {top: -200px;}
    to {top: 0px;}
}

.slide {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.cards {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #fff;
}

.cards-img {
    background-position: center;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#img01 {
    background-image: url(../images/index/nuanhhung.jpg);
}

#img02 {
    background-image: url(../images/index/nhanchung.jpg);
}

#img03 {
    background-image: url(../images/index/tuve.jpg);
}
#img04 {
    background-image: url(../images/index/safe.jpeg);
    
}
#img05 {
    background-image: url(../images/index/idea.jpg);
}
#img06 {
    background-image: url(../images/index/stop.jpg);
}
#img07 {
    background-image: url(../images/index/report.jpg);
}
#img08 {
    background-image: url(../images/index/contact.jpg);
}


.cards-content {
    padding: 10% 5%;
    box-sizing: border-box;
    width: 50%;
    background: #0A0A0A;
}

.cards-theme {
    font-weight: 900;
    font-size: 1.7vmin;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    color: grey;
}

.cards-header {
    font-weight: 700;
    font-size: 54px;
    text-transform: capitalize;
    line-height: 1;
    margin: 3vmin 0 3.5vmin;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.cards-para {
    font-size: 1.6vmin;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 2.5vmin;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.cards-link {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vmin;
    display: block;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.cards-link:hover {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

.prevnext {
    position: absolute;
    width: 4vmin;
    height: 8vmin;
    right: 2%;
    bottom: 0;
    top: 80%;
    color: #fff;
    margin: auto 0;
}

.pn-btn {
    color: #fff;
    width: 100%;
    height: 50%;
    border: 0;
    background-color: transparent;
    font-size: 20px;
}

#prev, #next {
    position: relative;
    cursor: pointer;
}

#prev:focus, #next:focus {
    outline: none;
}

#prev:hover:after, #next:hover:after {
    opacity: 1;
}

#prev:after, #next:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.btn-menu {
	position: absolute; 
	color: white;
	top : 1em ;
	right: 1em ;
	line-height: 24px ;
	width: 29em;
	font-size: 24px;
}
.btn-menu i{
	float: right;
	position: absolute;
	top: 1em ;
	right: 1em ;
	padding-top: 12px ;
	
}
.btn-menu ul li{
	list-style: none; 
	font-size: 16px;
	display: inline-block;
	line-height: 16px;
	padding: 1em;
	display: none; 
}

/* NAV */
.top-nav-collapse {
    background-color: #0a0a0a;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
    background-color: #0a0a0a;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
    background-color: #0a0a0a;
    }
}
.nav-item{
    text-align: center;
}
.nav-item:hover{
    background: #cacaca;
}

/* VIEWS COUNT */
#views-count {
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    word-spacing: 3px;
}

/* HOTLINE */
#hot-line {
    width: 30px;
    height: 180px;
    position: fixed;
    bottom: 10px;
    left: 0px;
    background: black;
    opacity: 0.9;
    text-align: center;
    color: white;
    padding-top: 7px; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.6s;
    font-weight: bold;
}

#hot-line:hover {
    transition: 0.6s;
    background: white;
    opacity: 0.8;
    color: black;
}

#hot-line-body {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 35px;
    width: 200px;
    height: 180px;
    background: black;
    opacity: 0.9;
    border-radius: 5px;
    padding: 7px;
    box-sizing: border-box;
}

#hot-line-body td {
    color: white;
}

@keyframes myAnimation2 {
    from {left: 0px;}
    to {left: 35px;}
    from {opacity:0;}
    to {opacity: 0.8;}
}

#hot-line:hover #hot-line-body {
    display: block;
    animation: myAnimation2 0.6s ease-out ;
    -moz-animation: myAnimation2 0.6s ease-out ;
    -o-animation: myAnimation2 0.6s ease-out ;
}



