/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color: #0A0A0A;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cacaca; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cacaca; 
}