#btn-scroll-to-top{
    display:none;
    width:80px;
    height:70px;
    padding-top:0px;
    text-align: center;
    position:fixed;
    z-index:999;
    left: 46.5%;
    top: 94%;
    background:rgb(0, 0, 0);
    border-radius:25%;
    cursor:pointer;
    opacity:0.7;
    color:#fff;
    font-size:2.0em;
    transition: 0.6s;
    animation: myAnimation99 1.5s ease-out ;
    -moz-animation: myAnimation99 1.5s ease-out ;
    -o-animation: myAnimation99 1.5s ease-out ;
}
 
#btn-scroll-to-top:hover{
    opacity:0.5;
    background: white;
    color: black;
    transition: 0.6s;
}

@keyframes myAnimation99 {
    from {opacity:0;}
    to {opacity: 0.7;}
}