

body{
	background-image: url(../images/tips/background1.png);
	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  animation: myAnimation 1s ease-out ;
  -moz-animation: myAnimation 1s ease-out ;
  -o-animation: myAnimation 1s ease-out ;
}

@keyframes myAnimation {
  from {opacity:0.1;}
  to {opacity: 1;}
  from {top: -150px;}
   to {top: 0px;}
}

.all{
	margin: 0px auto;
	width: 1200px;
}

header h1{
	text-align: center;
  font-family: 'Carter One', cursive;
}

h2,h4{
  font-family: 'Carter One', cursive;
}

h2, p, h4,h1{
  color:white;
  font-weight: bold;
}

header nav{
	width: 100%;
	height: 50px;
}

.menu{
	margin-top: 20px;
	float: left; 
	width: 100%;
	text-align: center;

}


.a:hover{
  text-decoration:none;
  background-color: #004444; 
  color: white;
  transition: 0.5s;
}


.menu li a{
		width: 80%;
    height: 50px;
    font-size: 17px;
		display: block;
		background: #009999;
		border-radius: 5px;
		text-decoration: none;
    margin-top: 5px;
		margin: 5px auto;
    font-family: 'Lobster Two', cursive;
    
}
.menu li{
  list-style-type: none;
}
.menu a{
    color:white;
    transition: 0.5s;
}

.slide{
  margin-top: 20px;
  
}

.s1{
	width: 49%;
	height: 300px;
	float: left;
}
.s2{
	width: 49%;
	height: 300px;
	float: right;
}

/*slide*/
* {
            box-sizing:border-box;
          }
          h2 {
            text-align: center;
          }
          /* Slideshow container */
          .slideshow-container {
            max-width: 500px;
            position: relative;
            margin: auto;
          }
          /* Ẩn các slider */
          .mySlides, .mySlides2 {
              display: none;
          }
          /* Định dạng nội dung Caption */
          .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
          }

          /* định dạng các chấm chuyển đổi các slide */
          .dot, .dot2 {
            cursor:pointer;
            height: 13px;
            width: 13px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
          }
          /* khi được hover, active đổi màu nền */
          .active, .dot:hover {
            background-color: #717171;
          }

          /* Thêm hiệu ứng khi chuyển đổi các slide */
          .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 3s;
            animation-name: fade;
            animation-duration: 3s;
          }

          @-webkit-keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }

          @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }

          img{
          	width: 100%;
          	height:250px;
          }

/*slide2*/
	.s2 img{
		width: 100%;
        height:250px;
	}
	
  video{
    width: 100%;
    height: 500px;
    margin-top:20px;
  }