html {
    height: 100%;
  }
  body {
    background-image: url(../images/woman-heroes/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 0;
    text-align: center;
    font-family: 'open sans';
    position: relative;
    margin: 0;
    height: 100%;
    animation: myAnimationq 1.5s ease-out ;
    -moz-animation: myAnimationq 1.5s ease-out ;
    -o-animation: myAnimationq 1.5s ease-out ;
  }

  @keyframes myAnimationq {
    from {left: -100px;}
    to {left: 0px;}
    from {opacity:0.1;}
    to {opacity: 1;}
}
  
  .wrapper {
      height: auto !important;
      height: 100%;
      margin: 0 auto; 
      overflow: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  
  h2 {
    width: 100%;
    float: left;
  }

  h2 {
    color: #444;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .pointer {
    color: #9b59b6;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-top: 15px;
  }
  pre {
    margin: 80px auto;
  }
  pre code {
    padding: 35px;
    border-radius: 5px;
    font-size: 15px;
    background: rgba(0,0,0,0.1);
    border: rgba(0,0,0,0.05) 5px solid;
    max-width: 500px;
  }


  .main {
    float: left;
    width: 100%;
    margin: 0 auto;
    background: #161923;
  }
  
  .main h1.demo1 {
    background: #1ABC9C;
  }
  
  .reload.bell {
    font-size: 12px;
    padding: 20px;
    width: 45px;
    text-align: center;
    height: 47px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
  }
  
  .reload.bell #notification {
    font-size: 25px;
    line-height: 140%;
  }
  
  .reload, .btn{
    display: inline-block;
    border: 4px solid #A2261E;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #CC3126;
    display: inline-block;
    line-height: 100%;
    padding: 0.7em;
    text-decoration: none;
    color: #fff;
    width: 100px;
    line-height: 140%;
    font-size: 17px;
    font-family: open sans;
    font-weight: bold;
  }
  .reload:hover{
    background: #A2261E;
  }
  .btn {
    width: 200px;
    color: #fff;
    border: none;
    margin-left: 10px;
    background: black;
  }
  .clear {
    width: auto;
  }
  .btn:hover, .btn:hover {
    background: rgba(0,0,0,0.8);
  }
  .btns {
    width: 410px;
    margin: 50px auto;
  }
  .credit {
    text-align: center;
    color: #444;
    padding: 10px;
    margin: 0 0 0 0;
    background: #161923;
    color: #FFF;
    float: left;
    width: 100%;
  }
  .credit a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .back {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: block;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(255, 255, 255, 0.25);
    font-weight: bold;
    font-size: 13px;
    color: #000;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .back:hover {
    color: black;
    background: rgba(255, 255, 255, 0.5);
  }
  
  
  .page_container {
    max-width: 960px;
    margin: 50px auto;
  }

  .header {
    background: white;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .header .menu {
    padding-bottom: 10px;
  }

  .benefits {
    color: black;
    height: 100px;
    background: #FFF;
    position: relative;
    width: 100%;
    padding: 25px;
    font-size: 40px;
    font-weight: 100;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .benefits .page_container{
    margin-bottom: 50px;
    margin-top: 0;
  }

  .immersive_slider .is-slide .content h2{
    line-height: 140%;
    font-weight: 100;
    color: white;
    font-weight: 100;
  }
  .immersive_slider .is-slide .content a {
    color: white;
  }

.immersive_slider .is-slide .content p{
  float: left;
  font-weight: 100;
  width: 100%;
  font-size: 17px;
  margin-top: 5px;
}
    #immersive_slider{
        border-radius: 7px;
    }
    h1{
        font-family: 'Acme', sans-serif;
        color:white;
        font-size: 45px;
    }