<!doctype html>
<html lang="en">
  <head>
    <title>Reports</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/reports.css">
    <link rel="stylesheet" href="../css/scroll-bar.css">
    <link rel="stylesheet" href="../css/scroll-to-top.css">

    <!-- SCRIPT -->
    <script src="../js/scroll-to-top.js" type="text/javascript"></script>

    <style>
        #btn-back-to-index{
        width:90px;
        height:100px;
        padding-top:28px;
        padding-left:12px; 
        position:fixed;
        z-index:999;
        right: -45px;
        top: 45%;
        background:rgb(0, 0, 0);
        border-radius:50%;
        cursor:pointer;
        opacity:0.8;
        color:#fff;
        font-size:2.0em;
        transition: 0.6s;
        }
    
        #btn-back-to-index:hover {
        background: white;
        color: black;
        opacity: 0.6;
        transition: 0.6s;
        }
    </style>
</head>
  <body>
      <h1>>Reports<</h1>
      <div class="container">
        <!-- BACK TO INDEX -->
        <div id="btn-back-to-index" onclick="window.location.href = '../index.html';">
            <i style="font-size: 20px" class="fa fa-home"></i>
        </div>

        <!-- TABLE -->
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <img src="../images/reports/criminal.png" alt="">
                    </td>
                    <td>
                        - June 20, 2018
                        <br>
                        - 6:30am
                        <br>
                        - area of Hoover Avenue and Gage Avenue
                        <br>
                        - CRIME INFORMATION <br>
                        Suspect: Sexual Assault Suspect, <br>
                        Sex: M <br>
                        Descent: Hispanic <br>
                        Height: 5'05" - 5' <br>
                        Weight: 140-160 pounds <br>
                        Hair: Brown <br>
                        Eyes: Brown <br>
                        Age: 30* <br>
                        Weapon: Unknown type Handgun <br>
                        Tatoos: <br>
                        Oddities: One or two teardrop tattoos under right or left eye.
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../images/reports/criminal.png" alt="">
                    </td>
                    <td>
                        - June 20, 2018
                        <br>
                        - 6:30am
                        <br>
                        - area of Hoover Avenue and Gage Avenue
                        <br>
                        - CRIME INFORMATION <br>
                        Suspect: Sexual Assault Suspect, <br>
                        Sex: M <br>
                        Descent: Hispanic <br>
                        Height: 5'05" - 5' <br>
                        Weight: 140-160 pounds <br>
                        Hair: Brown <br>
                        Eyes: Brown <br>
                        Age: 30* <br>
                        Weapon: Unknown type Handgun <br>
                        Tatoos: <br>
                        Oddities: One or two teardrop tattoos under right or left eye.
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../images/reports/criminal.png" alt="">
                    </td>
                    <td>
                        - June 20, 2018
                        <br>
                        - 6:30am
                        <br>
                        - area of Hoover Avenue and Gage Avenue
                        <br>
                        - CRIME INFORMATION <br>
                        Suspect: Sexual Assault Suspect, <br>
                        Sex: M <br>
                        Descent: Hispanic <br>
                        Height: 5'05" - 5' <br>
                        Weight: 140-160 pounds <br>
                        Hair: Brown <br>
                        Eyes: Brown <br>
                        Age: 30* <br>
                        Weapon: Unknown type Handgun <br>
                        Tatoos: <br>
                        Oddities: One or two teardrop tattoos under right or left eye.
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../images/reports/criminal.png" alt="">
                    </td>
                    <td>
                        - June 20, 2018
                        <br>
                        - 6:30am
                        <br>
                        - area of Hoover Avenue and Gage Avenue
                        <br>
                        - CRIME INFORMATION <br>
                        Suspect: Sexual Assault Suspect, <br>
                        Sex: M <br>
                        Descent: Hispanic <br>
                        Height: 5'05" - 5' <br>
                        Weight: 140-160 pounds <br>
                        Hair: Brown <br>
                        Eyes: Brown <br>
                        Age: 30* <br>
                        Weapon: Unknown type Handgun <br>
                        Tatoos: <br>
                        Oddities: One or two teardrop tattoos under right or left eye.
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- SCROLL TO TOP -->
		<div id="btn-scroll-to-top" onclick="scrollToTop()">
                <i class="fa fa-chevron-up"></i>
            </div>
      </div>
    
  </body>
</html>