<!DOCTYPE html>
<html>
<head>
	<title>Tips self defence</title>
	<!--link css-->
		<link rel="stylesheet" type="text/css" href="../css/tips.css">
	<!--link bootstrap-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/scroll-bar.css">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">

	<!-- STYLE -->
	<style>
		#btn-back-to-index{
        width:90px;
        height:100px;
        padding-top:20px;
        padding-left:12px; 
        position:fixed;
        z-index:999;
        right: -45px;
        top: 45%;
        background:rgb(0, 0, 0);
        border-radius:50%;
        cursor:pointer;
        opacity:0.8;
        color:#fff;
        font-size:2.0em;
        transition: 0.6s;
        }
    
        #btn-back-to-index:hover {
        background: white;
        color: black;
        opacity: 0.6;
        transition: 0.6s;
        }
	</style>

	<!--link jquery-->
		<script>   
			
			$(document).ready(function(){
			  $("#video_tips").hide();

			});
			$('#myCarousel').carousel({ 
			    interval:   4000    
			});
		</script>
	<!--link javascript-->
		<script>   
			function getvideo ( _num){
				$(document).ready(function(){
					$("#video_tips").show();
					$("#content").hide();

				});	
				var myObj ={	
	
	"video": [
		{"url":"../video/behind-attack.mp4"},
		{"url":"../video/burkcoercive .mp4"},
		{"url":"../video/burk-in font.mp4"},
		{"url":"../video/burkonground.mp4"},
		{"url":"../video/coercive .mp4"},
		{"url":"../video/grasp-hair.mp4"},
		{"url":"../video/hold-hand.mp4"},
		{"url":"../video/How to Use Pepperspray.mp4"},
		{"url":"../video/pace.mp4"},
		{"url":"../video/Simple Self Defense Moves You Should Know.mp4"}
	]
};
				document.getElementById("video_tips").innerHTML = " <video width='320' height='240' controls>"+"<source src='"+myObj.video[_num].url+"'type='video/mp4'>"+"</video>";
				
				
			
			}
			
		</script>
		
</head>
<body>
	<!-- BACK TO INDEX -->
	<div id="btn-back-to-index" onclick="window.location.href = '../index.html';">
		<i style="font-size: 20px" class="fa fa-home"></i>
	</div>
	<form method="POST">
		<div class="all">
			<header>
				<h1 style="margin-top: 30px; margin-bottom: -50px">Tips self defence</h1>
				<nav>
					
				</nav>
			</header>
			<div class="row">
				<div class="col-3">
					
					<div class="menu">					
							<h4>Some tips you may use</h4>
							<li><a class="a" href="#" onclick="getvideo(0);">When your been attack from behind</a></li>
							<li><a style="line-height: 50px;" class="a" href="#" onclick="getvideo(1);">When your been burk and coercive  </a></li>
							<li><a style="line-height: 50px;" class="a" href="#" onclick="getvideo(2);">When your been burk in font</a></li>
							<li><a style="line-height: 50px;" class="a" href="#" onclick="getvideo(3);">When your been burk on ground</a></li>
							<li><a class="a" href="#" onclick="getvideo(4);">When your been coercive on ground</a></li>
							<li><a class="a" href="#" onclick="getvideo(5);">When your been grasp hair from behind</a></li>
							<li><a style="line-height: 50px;" class="a" href="#" onclick="getvideo(6);">When he  grasp your hand  </a></li>
							<li><a style="line-height: 50px;" class="a" href="#" onclick="getvideo(9);">When he  grasp your from behind  </a></li>
							<li><a style="line-height: 50px;" class="a" href="#" onclick="getvideo(7);">Some one prepare to attack you  </a></li>
					</div>
				</div>
				<div class="col-9" id="video_tips">
						
						 <video width="320" height="240" controls id="video1">
						  	<source src="../video/behind-attack.mp4" type="video/mp4">							
						</video> 
						
				</div>
				
				<div class="col-9" id="content">
					<article>
						<div class="slide">
							<div class="s1">
								<div class="slideshow-container">
							        <div class="mySlides fade">
							        	<img src="../images/tips/tv.jpg">
							        </div>

							        <div class="mySlides fade">
							          <img src="../images/tips/tv1.jpg">
							        </div>

							        <div class="mySlides fade">
							          <img src="../images/tips/tv2.jpg">
							        </div>
							         <div class="mySlides fade">
							          <img src="../images/tips/tv3.jpg">
							        </div>
							      </div>
							      <br>

							      <div style="text-align:center">
							        <span class="dot" onclick="currentSlide(0)"></span> 
							        <span class="dot" onclick="currentSlide(1)"></span> 
							        <span class="dot" onclick="currentSlide(2)"></span> 
							        <span class="dot" onclick="currentSlide(3)"></span> 
							      </div> 
							</div>
							<div class="s2">
								<marquee>
									<img src="../images/tips/tv4.jpg">
									<img src="../images/tips/tv5.jpg">
									<img src="../images/tips/tv6.jpg">
									<img src="../images/tips/tv7.jpg">
								</marquee>
							</div>
						</div>
						<div class="nd">
							<h2>Self Defense for Women?</h2>
							<p>
								&nbsp&nbsp&nbsp&nbspWomen's self defense, more than anything, is a phrase used either by people who don't understand self defense or by someone trying to sell you something.
								<br>
								&nbsp&nbsp&nbsp&nbspUnarmed physical self defense requires knowing how to use and defend against striking and wrestling, standing and on the ground. And it's the same for both men and women. There is no such thing as punching for women and punching for men, or wrestling for women and wrestling for men. The same principles apply to all humans. Women need to learn to defend against the same type of attacks as men, and techniques that are most effective for men are also most effective for women. The same goes for weapon use and defense.
								<br>
								&nbsp&nbsp&nbsp&nbspUnfortunate as it may be, there are no magic techniques that a woman can be taught, different from what should be taught to a man. Self defense is self defense, and to pretend otherwise is misleading at best, if not dangerous
							</p>
						</div>
					</article>
				</div>
			</div>
		</div>
	</form>
</body>
<script type="text/javascript" src="../js/tips/tips.js"></script>
</html>