<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="../js/wm-hr/jquery.immersive-slider.js"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<link href='../css/immersive-slider.css' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <link rel="stylesheet" href="../css/scroll-bar.css">
  <link rel="stylesheet" href="../css/woman-heroes.css">
  <!-- STYLE -->
    <style>
      #btn-back-to-index{
        width:90px;
        height:100px;
        padding-top:55px;
        padding-left:12px; 
        position:fixed;
        z-index:999;
        right: -55px;
        top: 45%;
        background:rgb(0, 0, 0);
        border-radius:50%;
        cursor:pointer;
        opacity:0.7;
        color:#fff;
        font-size:2.0em;
        transition: 0.6s;
        }
    
        #btn-back-to-index:hover {
        background: white;
        color: black;
        opacity: 0.6;
        transition: 0.6s;
        }
    </style>
</head>
<body>
  <!-- BACK TO INDEX -->
  <div id="btn-back-to-index" onclick="window.location.href = '../index.html';">
    <i style="font-size: 26px; margin-left: -65px" class="fa fa-home"></i>
  </div>
  <div class="wrapper">
 	<h1>Woman Heroes</h1>
    <div class="main">
      <div class="page_container">
        <div id="immersive_slider">


          <div class="slide" data-blurred="../images/woman-heroes/a1.png">
            <div class="content">
              <p>Anna Do girl is a sexual harasser in a dark alley. She drank drastically and defeated the person and the bad guy was arrested</p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/1.jpg" alt="Slider 1">
              </a>
            </div>
          </div>



         <div class="slide" data-blurred="../images/woman-heroes/a2.png">
            <div class="content">
              <p>Jany Du a girl who was attacked by a bad story from behind at Thong Nhat Park. She had knocked down the evil enemy and was not injured</p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/2.jpg" alt="Slider 1">
              </a>
            </div>
          </div>



          <div class="slide" data-blurred="../images/woman-heroes/a3.png">
            <div class="content">
              <p>Alladi Muram a girl was attacked by a harasser from the front in the gym. She defeated the liar by attacking his nose.</p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/3.jpg" alt="Slider 1">
              </a>
            </div>
          </div>

          <div class="slide" data-blurred="../images/woman-heroes/a4.png">
            <div class="content">
              <p>Yasuo Muram a girl who was attacked by two thiefs on the her rooftop  . Cô đã  hạ gục hai kẻ trộm và không bị thương tích </p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/4.jpg" alt="Slider 1">
              </a>
            </div>
          </div>

          <div class="slide" data-blurred="../images/woman-heroes/a5.png">
            <div class="content">
              <p>Milati Dom she was attacked in an alley next to the bar. that person wants to force her. but she fought back fiercely and defeated the man and escaped.</p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/5.jpg" alt="Slider 1">
              </a>
            </div>
          </div>

          <div class="slide" data-blurred="../images/woman-heroes/a6.png">
            <div class="content">
              <p>Lissandra Max she took down from robbing a book bag at an alley</p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/6.jpg" alt="Slider 1">
              </a>
            </div>
          </div>

          <div class="slide" data-blurred="../images/woman-heroes/a7.png">
            <div class="content">
              <p>Lissandra Chum she took down from robbing book bags at the submarine.</p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/7.jpg" alt="Slider 1">
              </a>
            </div>
          </div>

          <div class="slide" data-blurred="../images/woman-heroes/a8.png">
            <div class="content">
              <p>Lissandra Min she took down from robbing a book bag at an alley</p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/8.jpg" alt="Slider 1">
              </a>
            </div>
          </div>

          <div class="slide" data-blurred="../images/woman-heroes/a9.png">
            <div class="content">
              <p>Iam Strong, even though he was in his 50s, still had an object that fell a twenty year old boy. She is a guide to female self-defense skills.</p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/9.jpg" alt="Slider 1">
              </a>
            </div>
          </div>

          <div class="slide" data-blurred="../images/woman-heroes/a10.png">
            <div class="content">
              <p>Laddy Gaga was almost raped, but due to her quick reaction she escaped the hand of the evil man</p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/10.jpg" alt="Slider 1">
              </a>
            </div>
          </div>

          <div class="slide" data-blurred="../images/woman-heroes/a11.png">
            <div class="content">
              <p>Hanh Nguyen is a beautiful policewoman who always serves for the right. She is a girl with outstanding achievements who has held her 3 bad words and defeated them in a good way</p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/11.jpg" alt="Slider 1">
              </a>
            </div>
          </div>

          <div class="slide" data-blurred="../images/woman-heroes/a12.png">
            <div class="content">
              <p>Sica Mudram is a talented policewoman who always struggles for the right and women's rights. Along with a beautiful ideal she saved many women from rape and harassment</p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/12.jpg" alt="Slider 1">
              </a>
            </div>
          </div>

          <div class="slide" data-blurred="../images/woman-heroes/a13.png">
            <div class="content">
              <p> a team of talented police women always fight for the right and women's rights. Along with a beautiful ideal she saved many women from rape, harassment and this is the one they captured. </p>
            </div>
            <div class="image">
                <img src="../images/woman-heroes/13.jpg" alt="Slider 1">
              </a>
            </div>
          </div>
          
          <a href="#" class="is-prev">&laquo;</a>
          <a href="#" class="is-next">&raquo;</a>
        </div>
      </div>
  	</div>
  	<script type="text/javascript">
  	  $(document).ready( function() {
  	    $("#immersive_slider").immersive_slider({
  	      container: ".main"
  	    });
  	  });

    </script>
  </div>
  <script>

  	var _gaq=[['_setAccount','UA-11278966-1'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
  	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  	s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>